@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-color: lightpink;
    color: white;
    margin: 0;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #5050ff;
}

a:hover {
    text-decoration: underline;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em 0;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    color: white;
    font-size: 1.2em;
}